// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    background-color: #023047;
    font-size: 100%;
}

main {
    margin-top: 100px;
}

.container {
    width: 40%;
    padding: 50px;
    margin: auto;
}