* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #023047;
  font-size: 100%;
}

.container {
  width: 40%;
  padding: 50px;
  margin: auto;
}

